.App {
  text-align: center;
}
.state {
  display: inline-block;
  height: 2.4em;
  padding: 0 1em;
  margin-top: 1em;
  font-size: 1.2em;
  line-height: 2.4em;
  color: #444;
  background-color: palegoldenrod;
  border-radius: 1.5em;
}
.sub-title {
  vertical-align: -webkit-baseline-middle;
}
.tip-msg {
  font-size: 14px;
  color: #333;
}
.dev-tips {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 1em;
  text-align: left;
  font-size: 0.8em;
  color: #888;
}
